{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <a href="{% url 'tasks' %}">&#8592; Back</a>
</div>

<div class="due_date">
    <form>
        Due date:
    <style>
    ::-webkit-datetime-edit {
    color: #999;
    background-color: white;
    
}

    </style>            
    <input type="date" name="input" placeholder="YYYY-MM-DD" lang="en"> 
    </form>

    

</div>

<div class="card-body">
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input class="button" type="submit" value="Submit">
    </form>
</div>


{% endblock content %}